.fade-up{

opacity:0;

transform:translateY(40px);

animation:fadeUp .8s forwards;

}

@keyframes fadeUp{

to{

opacity:1;

transform:none;

}

}



.glow{

box-shadow:var(--glow);

}



.hover{

transition:var(--transition);

}

.hover:hover{

transform:translateY(-4px);

}