:root {

  /* COLORS */

  --bg: #050505;
  --surface: #0d0d0d;
  --surface-light: #171717;

  --primary: #D7FF00;
  --primary-hover: #c7ef00;

  --white: #ffffff;
  --text: #f3f3f3;
  --muted: #9b9b9b;

  --border: rgba(255,255,255,.08);

  /* SPACING */

  --container: 1320px;

  --radius: 20px;

  --section: 140px;

  /* TRANSITIONS */

  --transition: .35s cubic-bezier(.22,.61,.36,1);

  /* SHADOW */

  --glow: 0 0 60px rgba(215,255,0,.15);

}